[submodule "app/widgets/com.mcongrove.toast"]
	path = app/widgets/com.mcongrove.toast
	url = https://github.com/mcongrove/com.mcongrove.toast.git
[submodule "app/widgets/com.mattmcfarland.fontawesome"]
	path = app/widgets/com.mattmcfarland.fontawesome
	url = https://github.com/MattMcFarland/com.mattmcfarland.fontawesome.git
[submodule "app/widgets/ba.slideMenu"]
	path = app/widgets/ba.slideMenu
	url = https://github.com/b-alidra/AlloySliderMenu.git
[submodule "app/widgets/nl.fokkezb.loading"]
	path = app/widgets/nl.fokkezb.loading
	url = https://github.com/FokkeZB/nl.fokkezb.loading.git
[submodule "app/lib/themoviedb"]
	path = app/lib/themoviedb
	url = root@server:/home/repository/themoviedb-javascript-library.git
[submodule "app/lib/t411"]
	path = app/lib/t411
	url = https://github.com/b-alidra/titanium-t411.git
[submodule "app/widgets/com.b-alidra.trakt"]
	path = app/widgets/com.b-alidra.trakt
	url = root@server:/home/repository/titanium-trakt.git
[submodule "app/widgets/com.b-alidra.transmission"]
	path = app/widgets/com.b-alidra.transmission
	url = https://github.com/b-alidra/titanium-transmission.git
[submodule "app/widgets/com.b-alidra.themoviedb"]
	path = app/widgets/com.b-alidra.themoviedb
	url = https://github.com/b-alidra/titanium-themoviedb.git
[submodule "app/widgets/com.b-alidra.thetvdb"]
	path = app/widgets/com.b-alidra.thetvdb
	url = root@server:/home/repository/titanium-thetvdb.git
[submodule "app/widgets/nl.fokkezb.infiniteScroll"]
	path = app/widgets/nl.fokkezb.infiniteScroll
	url = https://github.com/FokkeZB/nl.fokkezb.infiniteScroll.git
[submodule "app/lib/freebox-os-client"]
	path = app/lib/freebox-os-client
	url = https://github.com/b-alidra/freebox-os-client.git
