<Alloy>
	<View>
		<View class="toolbar">
			<View id="toolbar_title_holder">
				<Label id="toolbar_title" />
			</View>
		</View>
		<View id="content">
			<TableView id="settings">
				<TableViewRow>
					<View class="label_holder">
						<Label class="form_label" id="name_label" />
					</View>
					<TextField id="settings_name" hintText="My Transmission"/>
				</TableViewRow>	
				<TableViewRow>
					<View class="label_holder">
						<Label class="form_label" id="host_label" />
					</View>
					<TextField id="settings_host" hintText="192.168.1.1"/>
				</TableViewRow>
				<TableViewRow>
					<View class="label_holder">
						<Label class="form_label" id="port_label" />
					</View>
					<TextField id="settings_port" hintText="9091" value="9091"/>
				</TableViewRow>
				<TableViewRow>
					<Label class="fa-icon" icon="fa-user" />
					<View class="label_holder">
						<Label class="form_label" id="user_label" />
					</View>
					<TextField id="settings_user" hintText="transmission"/>
				</TableViewRow>	
				<TableViewRow>
					<View class="label_holder">
						<Label class="form_label" id="pass_label" />
					</View>
					<TextField id="settings_pass" hintText="transmission"/>
				</TableViewRow>	
			</TableView>
		</View>
		<Button id="save_button">
			<Label id="save_button_icon" class="fa-icon" icon="fa-check"/>
		</Button>
		<Widget id="fa" src="com.mattmcfarland.fontawesome" />
	</View>
</Alloy>